<!DOCTYPE html>
<html>
<head>
	<title>jsTesting</title>
	<link rel="stylesheet" type="text/css" href="styles.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body ng-app="testApp">

	<div ng-controller="testController" class="stuff">
		<div>Enter XML String:</div>
		<div>
			<textarea id="xmlBox" ng-model="xmlTextBox"></textarea>
		</div>
		<div>
			<button ng-click="convertXML()">Convert XML</button>
			<button ng-click="clearJSONOutput()">Clear</button>
		</div>
		<hr>
		<div>
			<div class="labelDiv"><label>value: </label><input type="text" ng-model="valueToFind"/></div>
			<div class="labelDiv"><label>path: </label><input class="xpathInput" type="text" ng-model="valuePath"/></div>
			<button ng-click="xmlContainsValue()">XML contains value</button>
			<button ng-click="xmlContainsNode()">Xml Contains Node</button>
			<button ng-click="getValue()">Get Value</button>
			<div><label>{{valueFound}}</label></div>
		</div>
		<div class="lineOfStuff">
			<span class="errorText">{{errorText}}</span>
			{{output}}
		</div>
	</div>

	<script src="../src/jsonifier.js"></script>
	<script src="scripts.js"></script>
</body>
</html>