<!DOCTYPE html>
<html>
<head>
	<title>jsTesting</title>
	<link rel="stylesheet" type="text/css" href="styles.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body ng-app="testApp">

	<div ng-controller="testController" class="stuff">
		<div>Enter XML String:</div>
		<div>
			<textarea id="xmlBox" ng-model="xmlTextBox"></textarea>
		</div>
		<div>
			<button ng-click="convertXML()">Convert XML</button>
			<button ng-click="findXML()">Value Exists</button>
			<label>value: </label><input type="text" ng-model="valueToFind"/>
			<label>path: </label><input type="text" ng-model="valuePath"/> =>
			<label>{{valueFound}}</label>
		</div>
		<div class="lineOfStuff">
			{{output}}
		</div>
	</div>

	<script src="../src/jsonifier.js"></script>
	<script src="scripts.js"></script>
</body>
</html>