body
{
	font-size: 16px;
}

h1
{
	color : blue;
}

input[type="radio"]:focus
{	
	outline: black dotted 1px;
}

.stuff {
	font-family: "Helvetica";
}

.lineOfStuff {
	margin-top: 15px;
}

#xmlBox {
	height: 400px;
	width: 800px;
}

.xpathInput {
	width: 600px;
}

.labelDiv {
	width: 35px;
}

div {
	margin-bottom: 5px;
}